* {
  font-family: "Lato", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

span, input, select, button {
  font-size: 14px;
}

.center {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-areas:
    "title"
    "board"
    "config";
  grid-column-gap: 5vmin;
  justify-items: center;
}

@media screen and (orientation: landscape) {
  .center {
    justify-content: start;
  }
  .grid {
    grid-template-areas: "title title" "board config";
    grid-template-columns: 50% 50%;
  }
}

#title {
  font-size: 10vmin;
  margin: 2vmin;
  grid-area: title;
}

#board {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  border: 1px solid black;
  border-radius: 4%;
  grid-area: board;
}

#config {
  grid-area: config;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.2s;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  border: 1px solid black;
  font-size: 6vmin;
  border-radius: 10%;
}

.config {
  margin-left: 20px;
}

.error {
  display: none;
  color: red;
}
